<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat - UseDoc</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //custom-theme -->
    <link rel="icon" type="image/png" href="images/icon.png" />
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/chat.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">
      const id = <%=user.id_usr%>;
      const tid = <%=user.id_tid%>;
    </script>

</head>
<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info" style="padding:0;margin:0">
        <div class="w3_agileits_top_nav ">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                <li class="gn-trigger">
                    <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                    <nav class="gn-menu-wrapper">
                        <div class="gn-scroller scrollbar1">
                            <%
                            if(user.id_tid==1){
                                %>
                                <ul class="gn-menu agile_menu_drop">
                                    <li>
                                        <a href="Home"> <i class="fa fa-home"></i> Inicio</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Pacientes <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="gn-submenu">
                                            <li class="mini_list_agile"><a href="Tratameintos"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                            <li class="mini_list_w3">
                                                <a href="Diagnosticos"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a>
                                            </li>
                                            <li class="mini_list_w3">
                                                <a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="Gastos"> <i class="fa fa-money" aria-hidden="true"></i> Gastos</a>
                                    </li>
                                    <li><a href="chat"><i class="fa fa-envelope " aria-hidden="true"></i>Mensajes</a>
                                    </li>
                                    <li>
                                        <a><i class="fa fa-table" aria-hidden="true"></i> Agenda <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="gn-submenu">
                                            <li class="mini_list_agile"><a href="Calendario"><i class="fa fa-caret-right" aria-hidden="true"></i> Calendario</a></li>
                                            <li class="mini_list_w3">
                                                <a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                              <%
                           }else{
                                %>
                                    <ul class="gn-menu agile_menu_drop">
                                        <li>
                                            <a href="Home"> <i class="fa fa-home"></i> Inicio</a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Información <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="gn-submenu">
                                                <li class="mini_list_agile"><a href="buttons"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                                <li class="mini_list_w3">
                                                    <a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a>
                                                </li>
                                                <li class="mini_list_w3">
                                                    <a href="grids"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><i class="fa fa-user-md" aria-hidden="true"></i>Medico</a>
                                        </li>
                                    </ul>
                                    <%
                           }
                        %>
                        </div>
                    </nav>
                </li>
                <!-- //nav_agile_w3l -->
                <li class="second logo">
                    <h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1>
                </li>
                <li class="second admin-pic">
                    <ul class="top_dp_agile">
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <%
                                          if( user.img_usr!=null){
                                                %>
                                        <span class="prfil-img"><img src="images/profiles/<%=user.img_usr%>" style="width: 50px; height: 50px;" alt=""> </span>
                                        <%
                                            }else{
                                                %>
                                            <span class="prfil-img"><img src="images/admin.png" style="width:50px" alt=""> </span>
                                            <%
                                            }
                                            %>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                <li> <a href="perfil"><i class="fa fa-user"></i> Perfil</a> </li>
                                <li> <a href="salir"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="second w3l_search">
                </li>

            </ul>
            <!-- //nav -->
        </div>
        <div class="inner_content mg">
            <div class="inner_content_w3_agile_info content-chat">
                <div class="w3l-table-info agile_info_shadow content-main-chat">
                  <div class="row mb40 row-chat">
                    <div class="col-md-3 chat-bar">
                      <h3 class="w3_inner_tittle two">Chats</h3>
                      <%
                      for (var i = 0; i < contactos.length; i++) {
                        %>
                        <%
                        var imgRut = "";
                          for (var j = 0; j < img.length; j++) {
                            if(img[j].id_usr==contactos[i].id_usr){
                              imgRut  = img[j].img_usr;
                            }
                          }
                        %>
                        <div class="chat-profile" onclick="cambiar(<%if (user.id_tid==1) {
                          %>'<%=contactos[i].nom_pac%>'<%
                        }else{%>'<%=contactos[i].name_med%>'<%}%>,<%if(imgRut!= null){%>'profiles/<%=imgRut%>'<%}else{%>'admin.png'<%}%>,<%=contactos[i].id_usr%>)">

                          <div class="name-chat"><img class="img-chat" src="images<%if(imgRut!=null){%>/profiles/<%=imgRut%><%}else{%>/admin.png<%}%>"> <strong> <%if (user.id_tid==1) {
                            %><%=contactos[i].nom_pac%><%
                          }else{%><%=contactos[i].name_med%><%}%></strong></div>
                        </div>
                        <%
                      }
                      %>

                    </div>
                    <div class="col-md-9" style="height:90vh">
                      <div class="cav-chat" id="cav-chat">
                        <img class="img-chat" id="img-chat" src="images/admin.png"> <strong> Selecciona uno de tus contactos</strong>
                      </div>
                      <div class="bod-chat" id="bod-chat">

                      </div>
                      <div class="sen-chat" id="sen-chat" style="display:none">
                        <div class="sendd">
                          <input type="text" name="men" placeholder="Escribe un mensaje ... " class="form-control" id="text-chat" style="height:100%">
                        </div>
                        <button class="btn btn-primary" id="btn-send" style="width:10%"> <i class="fa fa-send"></i> </button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- js -->



    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/export.js"></script>
    <script src="js/light.js"></script>

    <script src="js/Chart.min.js"></script>
    <script src="js/modernizr.custom.js"></script>

    <script src="js/classie.js"></script>
    <script src="js/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/logicachat.js" ></script>
    <script src="js/bars.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <%if(typeof mensaje !== "undefined"){
    %>
        <script>
            toastr.info("<%=mensaje%>", "Info");
        </script>
        <%
}%>

            <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>

</body>

</html>
