<!DOCTYPE html>
<html lang="en">
<head>
<title>Citas - UseDoc</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link rel="icon" type="image/png" href="images/icon.png" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
                 <!-- /nav_agile_w3l -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="Home"> <i class="fa fa-home"></i> Inicio</a></li>
                            <li>
                                <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Pacientes <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Tratameintos"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                    <li class="mini_list_w3"><a href="Diagnosticos"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                            <li><a href="Gastos"> <i class="fa fa-money" aria-hidden="true"></i> Gastos</a></li>
                            <li><a href="chat"><i class="fa fa-envelope " aria-hidden="true"></i>Mensajes</a>
                            </li>
                            <li>
                                <a ><i class="fa fa-table" aria-hidden="true"></i> Agenda <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Calendario"><i class="fa fa-caret-right" aria-hidden="true"></i> Calendario</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>
                <li class="second admin-pic">
                   <ul class="top_dp_agile">
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <%
                                            if( user.img_usr!=null){
                                                %>
                                                <span class="prfil-img"><img src="images/profiles/<%=user.img_usr%>" style="width: 50px; height: 50px;" alt=""> </span>
                                            <% 
                                            }else{
                                                %>
                                                <span class="prfil-img"><img src="images/admin.png" style="width:50px" alt=""> </span>
                                            <%
                                            }
                                            %>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                        <li> <a href="perfil"><i class="fa fa-user"></i> Perfil</a> </li>
                                        <li> <a href="salir"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                                    </ul>
                                </li>

                    </ul>
            </li>


            <li class="second w3l_search">

                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Busca pacientes" required="">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>

            </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
					<%
					var Terminadas =0;
					var pendientes =0;
					var Canceladas = 0;
					for(var i =0; i<citas.length;i++){
						if(citas[i].id_tip==1){
							Terminadas++;
						}else if(citas[i].id_tip==2){
							pendientes++;
						}else if(citas[i].id_tip==3){
							Canceladas++;
						}
					}%>
            <h2 class="w3_inner_tittle two" style="margin-bottom: 30px;">Gestión de citas </h2>
               <div class="w3l-table-info agile_info_shadow">
                   <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                               <h4 class="w3_inner_tittle two">Numero de citas pendientes:</h4>
                                <input type="text" readonly value="<%=pendientes%>" disabled class="form-control">
                            </div>
                            <div class="col-md-3">
                               <h4 class="w3_inner_tittle two">Terminadas:</h4>
                                <input type="text" readonly value="<%=Terminadas%>" disabled class="form-control">
                            </div>
                            <div class="col-md-3">
                               <h4 class="w3_inner_tittle two">Canceladas:</h4>
                                <input type="text" readonly value="<%=Canceladas%>" disabled class="form-control">
                            </div>
                            <div class="col-md-3">
                               <select name="" id="" style="height: auto" class="form-control">
                                   <option value="">Ver</option>
                                   <option value="">Hace una semana</option>
                                   <option value="">Hace un mes</option>
                                   <option value="">Hace un año</option>
                               </select>
                            </div>
                       </div>
                       <div class="row" style="padding-top: 25px">
                            <div class="col-md-3"><a href="" class="btn btn-primary">Ver calendario</a>
                            </div>
                            <div class="col-md-3"><a href="pacientes" class="btn btn-success">Registrar cita</a>

                            </div>
                       </div>
                   </div>

                     <div class="clearfix"></div>

                </div>
                <div class="agile-tables">
                    <div class="w3l-table-info agile_info_shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                <h3 style="margin-bottom: 30px">Todas las citas</h3>
                                    <div class="table-responsive-lg">
                                        <table class="table table-hover table-striped" >
                                          <thead class="thead-dark" style="background-color: #FF5E61">
                                            <tr>
                                              <th scope="col">Fecha</th>
                                              <th scope="col">Paciente</th>
                                              <th scope="col">Hora</th>
                                              <th scope="col">Estado</th>
                                              <th scope="col">Acciones</th>
                                            </tr>
                                          </thead>
                                          <tbody>
																						<%for(var o=0;o<citas.length;o++){
																							for(var i=0;i<pacientes.length;i++){
																								if(citas[o].id_pac==pacientes[i].id_pac){
																									if(citas[o].id_tip==1){
																									%>
																					<tr>
																						<th scope="row"><%=citas[o].dat_cit%></th>
																						<td><form action="" method="post"><input type="button" onclick="cambiar('<%=citas[o].dat_cit%>','<%=pacientes[i].nom_pac%>','<%=citas[o].hor_cit%>',<%=citas[o].id_tip%>,'<%=citas[o].des_cit%>')" class="btn btn-default" value="<%=pacientes[i].nom_pac%>"></form></td>
																						<td><%=citas[o].hor_cit%></td>
																						<td><span class="label label-success">Ocurrida</span></td>
																						<td>
																							 <a href="cita" style="font-size: 20px"><i class="fa fa-trash-o" title="Eliminar cita"></i></a>
																								&nbsp;&nbsp;
																								<a href="cita?c=dFhq2yMcudbJa4@C<%=citas[o].id_cit%>z49*Nq,_Y8-;nezE&d$]}BWp5)rnHr*brJwP8*ytJS#(!Jb!2D8Ru$QL*akVYEg@}9Tt)iXUWa/kLD/}p,6]B3z$j}((;nxdm@=[NWKxfLFPDe]xM)7tVt:Kp8MipP&t@$zbG88i,Jr.nZhBhhW;KA9=V2a#=ec7LL4{NFr#LS*u+VtYeWzgQ{" style="font-size: 20px" title="Editar cita"><i class="fa  fa-file-text"></i></a>&nbsp;&nbsp;
																								<a href="cita" style="font-size: 20px" title="Registrar algun costo"><i class="fa fa-money"></i></a>
																						</td>
																					</tr>
																									<%
																									}else if(citas[o].id_tip==2){
																									%>
																					<tr>
																						<th scope="row"><%=citas[o].dat_cit%></th>
																						<td><form action=""><input type="button" onclick="cambiar('<%=citas[o].dat_cit%>','<%=pacientes[i].nom_pac%>','<%=citas[o].hor_cit%>',<%=citas[o].id_tip%>,'<%=citas[o].des_cit%>')" class="btn btn-default" value="<%=pacientes[i].nom_pac%>"></form></td>
																						<td><%=citas[o].hor_cit%></td>
																						<td><span class="label label-primary">Pendiente</span></td>
																						<td><a href="cita" style="font-size: 20px"><i class="fa fa-trash-o" title="Eliminar cita"></i></a>
                                                                                                &nbsp;&nbsp;<a href="cita?c=<%var ref = 'asdaodjvinrubtn8uhvwisvnuiev46164198741619413203061910316';
                                                                                                var str = '';
                                                                                                for(var c =0;c<50;c++){
                                                                                                    str += ref.charAt(Math.floor(Math.random()*ref.length));
                                                                                                }%><%=str%><%=citas[o].id_cit%>" style="font-size: 20px" title="Editar cita"><i class="fa  fa-file-text"></i></a>&nbsp;&nbsp;
																								<a href="cita" style="font-size: 20px" title="Registrar algun costo"><i class="fa fa-money"></i></a>
																						</td>
																					</tr>
																									<%
																									}else if(citas[o].id_tip==3){
																									%>
																					<tr>
                                            <th scope="row"><%=citas[o].dat_cit%></th>
                                            <td>
                                                <form action="" method="post"><input type="button" onclick="cambiar('<%=citas[o].dat_cit%>','<%=pacientes[i].nom_pac%>','<%=citas[o].hor_cit%>',<%=citas[o].id_tip%>,'<%=citas[o].des_cit%>')" class="btn btn-default" value="<%=pacientes[i].nom_pac%>"></form>
                                            </td>
                                            <td><%=citas[o].hor_cit%></td>
                                            <td><span class="label label-warning">Cancelada</span></td>
                                            <td><a href="cita" style="font-size: 20px"><i class="fa fa-trash-o" title="Eliminar cita"></i></a>
                                                &nbsp;&nbsp;<a href="cita?c=dFhq2yMcudbJa4@C<%=citas[o].id_cit%>z49*Nq,_Y8-;nezE&d$]}BWp5)rnHr*brJwP8*ytJS#(!Jb!2D8Ru$QL*akVYEg@}9Tt)iXUWa/kLD/}p,6]<%=citas[o].id_cit%>B3z$j}((;nxdm@=[NWKxfLFPDe]xM)7tVt:Kp8MipP&t@$zbG88i,Jr.nZhBhhW;KA9=V2a#=ec7LL4{NFr#LS*u+VtYeWzgQ{" style="font-size: 20px" title="Editar cita"><i class="fa  fa-file-text"></i></a>&nbsp;&nbsp;
                                                <a href="cita" style="font-size: 20px" title="Registrar algun costo"><i class="fa fa-money"></i></a>
                                            </td>
                                          </tr>
																									<%
																									}
																								}
																							}
																						}%>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form action="">
                                      <div class="form-group">
                                       <label for="">Ver citas</label>
                                       <select name="" id="" class="form-control" style="height: auto">
                                           <option value="">Todas</option>
                                           <option value="">Ocurridas</option>
                                           <option value="">Pendientes</option>
                                           <option value="">Canceladas</option>
                                       </select>
                                        </div>
                                        <div class="form-group">
                                        <h3>Ver cita: </h3>
                                        </div>
                                       <div class="form-group">
                                           <input type="text" id="fecha" value="dd/mm/yyyy" disabled readonly class="form-control">
                                       </div>
                                       <div class="form-group">
                                       <input type="text" value="Paciente" id="paciente" disabled readonly class="form-control">
                                           </div>
                                       <div class="form-group">
                                           <input type="text" value="Hora" id="hora" disabled readonly class="form-control">
                                       </div>
                                       <div class="form-group">
                                       <input type="text" value="Estado" id="estado" disabled readonly class="form-control">
                                           </div>
                                       <div class="form-group">
                                           <textarea disabled readonly id="descripcion" class="form-control">Descripción
                                           </textarea>
                                       </div>
                                       <div class="form-group">
                                           <input type="text" value="$Costo" disabled readonly class="form-control">
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
    <div class="container clearfix">
        <div class="copyright-text">
            <p>&copy; Copyright 2019. Todos los derechos reservados por
              <a href="team">SpicySystems</a>
            </p>
        </div>
        <ul class="footer-bottom-link">
            <li>
              <a href="index">Inicio</a>
            </li>
            <li>
              <a href="index#About">Sobre nosotros</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
<!--copy rights end here-->
<!-- js -->

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.js"></script>
<script src="js/light.js"></script>

    <script src="js/Chart.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- script-for-menu -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script src="js/bars.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>


</body>
</html>
