<!DOCTYPE html>
<html lang="en">
<head>
<title>Paciente - UseDoc</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/export.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link href="css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/circles.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">

</head>
<body>
<!-- banner -->
<div class="wthree_agile_admin_info">
    <div class="w3_agileits_top_nav">
        <ul id="gn-menu" class="gn-menu-main">
                 <!-- /nav_agile_w3l -->
            <li class="gn-trigger">
                <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                <nav class="gn-menu-wrapper">
                    <div class="gn-scroller scrollbar1">
                        <ul class="gn-menu agile_menu_drop">
                            <li><a href="Home"> <i class="fa fa-home"></i> Inicio</a></li>
                            <li>
                                <a href="#"><i class="fa fa-stethoscope" aria-hidden="true"></i> Pacientes <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Tratameintos"><i class="fa fa-caret-right" aria-hidden="true"></i> Tratamientos</a></li>
                                    <li class="mini_list_w3"><a href="Diagnosticos"> <i class="fa fa-caret-right" aria-hidden="true"></i> Diagnosticos</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                            <li><a href="Gastos"> <i class="fa fa-money" aria-hidden="true"></i> Gastos</a></li>
                            <li><a href="chat"><i class="fa fa-envelope " aria-hidden="true"></i>Mensajes</a>
                            </li>
                            <li>
                                <a ><i class="fa fa-table" aria-hidden="true"></i> Agenda <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <ul class="gn-submenu">
                                    <li class="mini_list_agile"><a href="Calendario"><i class="fa fa-caret-right" aria-hidden="true"></i> Calendario</a></li>
                                    <li class="mini_list_w3"><a href="citas"> <i class="fa fa-caret-right" aria-hidden="true"></i> Citas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <!-- //nav_agile_w3l -->
            <li class="second logo"><h1><a href="index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>USEDOC </a></h1></li>
                <li class="second admin-pic">
                   <ul class="top_dp_agile">
                                <li class="dropdown profile_details_drop">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <div class="profile_img">
                                            <span class="prfil-img"><img src="images/admin.png" style="width: 45px;" alt=""> </span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Configuracion</a> </li>
                                        <li> <a href="perfil"><i class="fa fa-user"></i> Perfil</a> </li>
                                        <li> <a href="salir"><i class="fa fa-sign-out"></i> Cerrar sesion</a> </li>
                                    </ul>
                                </li>

                    </ul>
            </li>


            <li class="second w3l_search">

                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Busca pacientes" required="">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>

            </li>

        </ul>
        <!-- //nav -->

    </div>
    <div class="clearfix"></div>
    <div class="inner_content">
        <div class="inner_content_w3_agile_info">
            <h2 class="w3_inner_tittle two" style="margin-bottom: 30px;">Monitorear Paciente</h2>
               <div class="w3l-table-info agile_info_shadow">
                   <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                              <h3 class="w3_inner_tittle two">Estado actual</h3>
                              <div class="col-md-12 socail_grid_agile <%if(paciente[0].sta_pac==2 || paciente[0].sta_pac==1){%>sintra<%}else{%>tra<%}%>">
                                        <ul class="icon_w3_info">
                                    <li><a href="#" class="wthree_facebook"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li><%if(paciente[0].sta_pac==2 || paciente[0].sta_pac==1){%>Fuera de tratamiento<%}else{%>En tratamiento<%}%></li>
                                    </ul>
                                    <ul class="icon_w3_social">
                                    <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div class="bottom_info_social">
                                    <div class="col-md-4 agile_w3l_social_media_text_img">
                                    <img src="images/admin.png" style="width: 100%" alt="">
                                    </div>
                                    <div class="col-md-8 agile_w3l_social_media_text">
                                    <h4><%=paciente[0].nom_pac%></h4>
																		<%
																		let c = 0;
																			 if(paciente[2].length>0){
																				 for(var i =0;i<paciente[2].length;i++){
																					 if(paciente[2][i].id_tip==2){
																						 %>
																							 <p>Proxima cita:<%=paciente[2][i].dat_cit%></p>
																						 <%
																						 c++;
																					 }else if(paciente[2][i].id_tip==1){
																						 %>
																							 <p>Cita anterior<%=paciente[2][i].dat_cit%></p>
																						 <%
																						 c++;
																					 }
																					 if(c==2){
																						 break;
																					 }
																				 }
																			 }else{
																				 %>
																			 <p>Aún no hay citas programadas</p>
																				 <%
																			 }
																		%>
                                    </div>

                                    <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <h3 class="w3_inner_tittle two">Seguimiento del paciente</h3>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Total de citas</label>
                                        <input type="text" disabled readonly value="<%
																				let con = 0;
																				for(var i=0;i<paciente[2].length;i++){
																					if(paciente[2][i].id_pac==paciente[0].id_pac){
																						con++;
																					}
																				}%><%=con%>" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <a href="HistorialMedico?p=<%paciente[0].id_pac%>" class="btn btn-success">Ver historial medico del paciente</a>
                                    </div>
                                    <div class="table-responsive-lg">
																			<label for="">Citas</label>
                                        <table class="table table-hover table-striped" >
                                            <thead class="thead-dark" style="background-color: #FF5E61">
                                                <tr>
                                                  <th scope="col">Fecha</th>
                                                  <th scope="col">Ver</th>
                                                  <th scope="col">Hora</th>
                                                  <th scope="col">Estado</th>
                                                  <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
																								<%if(paciente[2].length>0){
																										for(var i = 0; i<paciente[2].length;i++){
																											if(paciente[2][i].id_pac==paciente[0].id_pac){
																												%>
																												<tr>
				                                                  <th scope="row"><%=paciente[2][i].dat_cit%></th>
				                                                  <td><a href="cita?c=<%=paciente[2][i].id_cit%>" class="btn btn-default" >Ver</a></td>
				                                                  <td><%=paciente[2][i].hor_cit%></td>
				                                                  <td><span class="label <%if(paciente[2][i].id_tip==1){%>label-success<%}else if(paciente[2][i].id_tip==2){%>label-primary<%}else if(paciente[2][i].id_tip==3){%>label-warning<%}%>">
																														<%if(paciente[2][i].id_tip==1){
																															%>Ocurrida<%
																														}else if(paciente[2][i].id_tip==2){
																															%>Pendiente<%
																														}else if(paciente[2][i].id_tip==3){
																															%>Cancelada<%
																														}%></span></td>
				                                                  <td>
				                                                     <a href="cita?c=<%=paciente[2][i].id_cit%>" style="font-size: 20px"><i class="fa fa-trash-o" title="Eliminar cita"></i></a>
				                                                      &nbsp;&nbsp;
				                                                      <a href="cita?c=<%=paciente[2][i].id_cit%>" style="font-size: 20px" title="Editar cita"><i class="fa  fa-file-text"></i></a>&nbsp;&nbsp;
				                                                      <a href="cita?c=<%=paciente[2][i].id_cit%>" style="font-size: 20px" title="Registrar algun costo"><i class="fa fa-money"></i></a>
				                                                  </td>
				                                                </tr>
																												<%
																											}
																										}
																								}else{
																									%>
																									<tr>
																										<th scope="row" colspan="5">Este paciente no ha tenido ninguna cita</th>
																									</tr>

<%																								}%>
                                              <tr>
                                                  <th colspan="5">
                                                    <script>
                                                        var state = 1;
                                                        function cam(){
                                                            if(state==1){
                                                                document.getElementById('b').innerHTML = "Ocultar";
                                                                document.getElementById('agrCita').style.display = "block";
                                                                state =2;
                                                            }else{
                                                                document.getElementById('b').innerHTML = "Agregar cita";
                                                                document.getElementById('agrCita').style.display = "none";
                                                                state = 1;
                                                            }
                                                        }
                                                    </script>
                                                      <div class="form-group">
                                                          <button class="btn btn-primary" id="b" onclick="cam()">
                                                            Agregar nueva cita
                                                        </button>
                                                    </div>
                                                    <form method="POST" action="agregarCita" id="agrCita" style="display: none">
                                                        <div class="form-group">
                                                            <input type="hidden" name="id" value="<%=paciente[0].id_pac%>" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="dat"> Ingresa la fecha en la que sera la cita</label>
                                                            <input type="date" required name="dat" id="fecha" min="<%let freg=new Date;%><%=freg.getFullYear()+'-'+(freg.getMonth()+1)+'-'+freg.getDate()%>" placeholder="Ingresa la fecha de la cita" class="form-control">
                                                        </div>
																												<div class="form-group">
                                                            <label for="hor"> Ingresa la fecha en la que sera la cita</label>
                                                            <input type="time" required name="hor" id="hora" placeholder="Ingresa la hora de la cita" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" name="des" class="form-control" placeholder="Ingresa una decripcion para la cita" required>
                                                        </div>
                                                        <div class="form-cotrol">
                                                            <input type="submit" class="btn btn-primary" value="Agendar cita">
                                                        </div>
                                                    </form>
                                                  </th>
                                              </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>

                     <div class="clearfix"></div>

                </div>
                <div class="agile-tables">
                    <div class="w3l-table-info agile_info_shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="w3_inner_tittle two">Todos los tratamientos</h3>
                                    <div class="work-progres">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nombre</th>
                                                        <th>Fecha</th>

                                                        <th>Estado</th>
                                                        <th>Avance</th>

                                                        <th> Más</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Tratamiento: Enfermedad coronaria</td>
                                                        <td>Fecha 1</td>

                                                        <td><span class="label label-danger">En progreso</span></td>
                                                        <td><span class="badge badge-info">50%</span></td>
                                                        <td><a href="Tratamiento"><i class="fa fa-plus"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Tratamiento: Enfermedad coronaria</td>
                                                        <td>Fecha 2</td>

                                                        <td><span class="label label-success">Terminado</span></td>
                                                        <td><span class="badge badge-success">100%</span></td>
                                                        <td><a href="Tratamiento"><i class="fa fa-plus"></i></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Tratamiento: Enfermedad coronaria</td>
                                                        <td>Fecha 3</td>

                                                        <td><span class="label label-warning">En progreso</span></td>
                                                        <td><span class="badge badge-warning">80%</span></td>
                                                        <td><a href="Tratamiento"><i class="fa fa-plus"></i></a></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <form action="">
                                        <div class="form-group">
                                            <label for="">Ver tratamientos</label>
                                            <select name="" id="" class="form-control" style="height: auto">
                                                <option value="">Todas</option>
                                                <option value="">Terminados</option>
                                                <option value="">En progreso</option>
                                                <option value="">Cancelados</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <a href="" class="btn-lg btn-primary" >Agregar tratamiento</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
<!-- banner -->
<!--copy rights start here-->
<div class="copyrights">
    <div class="container clearfix">
        <div class="copyright-text">
            <p>&copy; Copyright 2019. Todos los derechos reservados por
              <a href="team">SpicySystems</a>
            </p>
        </div>
        <ul class="footer-bottom-link">
            <li>
              <a href="index">Inicio</a>
            </li>
            <li>
              <a href="index#About">Sobre nosotros</a>
            </li>
            <li>
              <a href="contact">Contact</a>
            </li>
        </ul>
    </div>
</div>
<!--copy rights end here-->
<!-- js -->


<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>

<script src="js/amcharts.js"></script>
<script src="js/serial.js"></script>
<script src="js/export.js"></script>
<script src="js/light.js"></script>
<script src="js/chart1.js"></script>
    <script src="js/Chart.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<script src="js/classie.js"></script>
<script src="js/gnmenu.js"></script>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- script-for-menu -->

<script src="js/bars.js"></script>
<script src="js/scripts.js"></script>

<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<%if(typeof mensaje !== "undefined"){
    %>
    <script>
        toastr.info("<%=mensaje%>","Info");
    </script>
    <%
}%>

</body>
</html>
